* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  min-height: 100vh;
  background: #e0dcdfbb;
  width: 100%;
  padding: 40px;
}
#root {
  width: 500px;
}
.btn-btn {
  padding: 10px 5px;
  border: 1px solid black;
  border-radius: 5px;
}
